Package: com.6ilent.pokefullcharge
Name: PokeFullCharge
Depends: mobilesubstrate
Version: 1.2.2
Architecture: iphoneos-arm
Description: Play a Pokémon jingle when charged or uncharged!
Maintainer: 6ilent <pkmnx7802@gmail.com>
Author: 6ilent <pkmnx7802@gmail.com>
Section: Tweaks